<div>
    <h2>Personnel Management</h2>
    <button ng-click="showAddEditForm()">Add Personnel</button>
    <table>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Speciality</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="person in personnel">
            <td>{{ person.name }}</td>
            <td>{{ person.sex }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.speciality }}</td>
            <td>
                <button ng-click="edit(person)">Edit</button>
                <button ng-click="delete(person.id)">Delete</button>
            </td>
        </tr>
    </table>
</div>